<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="home-screen">
      <%- include('./partials/sidebar') %>
      <div class="catalog">
        <h1><%= title %></h1>
            <ul class="indent">
                <li>Creator: <a href="/catalog/creator/<%= urlInfo[0].creator%>"><%= gameInfo[0].creator.name%> </a></li>
                <li>Description: <%= gameInfo[0].description%> </li>
                <li>Genre: <a href ="/catalog/genre/<%= urlInfo[0].genre%>"><%= gameInfo[0].genre[0].name%> </a></li>
                <li>Price: $<%= gameInfo[0].price %></li>
                <li>Number in Stock: <%= gameInfo[0].number_in_stock %></li>
            </ul>
          <h5><a href="/catalog/game/<%= gameInfo[0]._id%>/delete">Delete Game </a></h5>
          <h5><a href="/catalog/game/<%= gameInfo[0]._id%>/update">Update Game </a></h5>      
    </div>
    </div>
  </body>
</html>
