<!DOCTYPE html>
<html>
  <head>
    <title>All <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="home-screen">
      <%- include('./partials/sidebar') %>
      <div class="catalog">
        <h1><%= title %></h1>
            <ul class="indent">
                <li>Creator: <%= gameInfo[0].creator.name%> </li>
                <li>Description: <%= gameInfo[0].description%> </li>
                <li>Genre: <%= gameInfo[0].genre[0].name%> </li>
                <li>Price: $<%= gameInfo[0].price %></li>
            </ul>          
    </div>
    </div>
  </body>
</html>
